*{
  margin:0;
  padding:0;
  font-family:verdana;
}
body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.calc{
  background-color:white;
  padding:20px;
  border-radius:10px;
  box-shadow: 1px 1px 8px gray;
}
input{
  margin-left:10px;
  width:270px;
  padding:10px;
  font-size: 18px;
  outline:none;
  border-radius:5px;
  border:0px solid black;
  margin-bottom:10px;
  background-color:rgba(255,191,0,1);
  box-shadow: 1px 1px 3px gray inset;
  color:white;
}
input::placeholder{
  color:white;
}
table{
  user-select:none;
  border-spacing:10px;
}
table td{
  cursor:pointer;
  padding:10px;
  border-radius: 5px;
  width:44px;
  text-align:center;
  font-weight:bold;
  box-shadow: 1px 1px 2px gray, -1px 0px 2px gray;
}
td:active{
  transform:scale(0.95);
  background-color:rgba(169,169,169,0.6);
}

#eql{
  background-color: rgba(255,191,0,1);
}
#eql:active{
  background-color:rgba(255,191,0,0.7);
}

.subbtn {
    width: 170px;
    cursor: pointer;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgb(27, 27, 27);
    background-color: red;
    transform-origin: top;
    animation: yt 4s infinite;
}

.yt {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 800px;
}

.yt h3 {
    margin-top: 30px;
  margin-left:15px;
    margin-bottom: 50px;
}

.subbtn a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    width: 170px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.subbtn:hover {
    animation-play-state: paused;
}

.stop {
    animation-play-state: paused;
}

@keyframes yt {
    0% {
        transform: rotateZ(-30deg);
    }
    25% {
        transform: rotateZ(30deg);
    }
    50% {
        transform: rotateZ(-30deg);
    }
    75% {
        transform: rotateZ(30deg);
    }
    100% {
        transform: rotateZ(-30deg);
    }
}

@media only screen and (max-width : 500px){

  body{
    flex-direction: column;
  }

 table td{
   height:44px;
 }
}
